
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPorraLabel" data-translate="bisaiApp.porra.home.createOrEditLabel">Create or edit a Porra</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.porra.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.porra.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bisaiApp.porra.cantidad" for="field_cantidad">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                    ng-model="vm.porra.cantidad"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bisaiApp.porra.eleccion" for="field_eleccion">Eleccion</label>
            <input type="number" class="form-control" name="eleccion" id="field_eleccion"
                    ng-model="vm.porra.eleccion"
                     />
        </div>

        <div class="form-group">
            <label data-translate="bisaiApp.porra.jugador" for="field_jugador">Jugador</label>
            <select class="form-control" id="field_jugador" name="jugador" ng-model="vm.porra.jugador" ng-options="jugador as jugador.nombre for jugador in vm.jugadors track by jugador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="bisaiApp.porra.partida" for="field_partida">Partida</label>
            <select class="form-control" id="field_partida" name="partida" ng-model="vm.porra.partida" ng-options="partida as partida.id for partida in vm.partidas track by partida.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
